{% extends "base.html" %}
{% load static %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}

{% load sass_tags %}

{% block content %}

    <div class="page-body">
        <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}
            <div class="row">
                <div class="col-3">
                    <div class="card common-hover">
                        <div class="card-header card-header b-l-primary border-3">
                            <h3 class="card-title text-primary">{{ branch }}</h3>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <img src="{{ user.avatar.url }}" class="img-responsive w-100"/>
                                </div>
                                <div class="col-md-8 pl-5">
                                    <h5>{{ branch.manager }}</h5>
                                    <span>{{ branch.phone }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card">
                        <div class="card-header pb-0 card-no-border">
                            <h3>Данные филиала/отдела</h3>

                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data" class="theme-form">
                                    {% csrf_token %}
                                    {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {% for field, errors in form.errors.items %}
                                            {{ field }}: {{ errors|join:", " }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <!-- Основная информация -->
                                    <fieldset class="mb-4 p-3 border rounded">
                                        <legend class="w-auto px-2 text-primary text-uppercase">Основная информация</legend>
                                        <div class="row g-3">
                                            <div class="col-md-4">
                                                <label for="id_organization" class="form-label">Организация</label>
                                                {{ form.organization }}
                                            </div>
                                            <div class="col-md-4">
                                                <label for="id_manager" class="form-label">Руководитель</label>
                                                {{ form.manager }}
                                            </div>
                                            <div class="col-md-4">
                                                <label for="id_full_name" class="form-label">Полное наименование</label>
                                                {{ form.full_name }}
                                            </div>
                                            <div class="col-md-4">
                                                <label for="id_short_name" class="form-label">Краткое наименование</label>
                                                {{ form.short_name }}
                                            </div>
                                            <div class="col-md-12">
                                                <label for="id_address" class="form-label">Адрес юридический</label>
                                                {{ form.address }}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="id_mail_address" class="form-label">Адрес почтовый</label>
                                                {{ form.mail_address }}
                                            </div>
                                            <div class="col-md-3">
                                                <label for="id_email" class="form-label">Email</label>
                                                {{ form.email }}
                                            </div>
                                            <div class="col-md-3">
                                                <label for="id_phone" class="form-label">Телефон</label>
                                                {{ form.phone }}
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-check checkbox checkbox-secondary mb-0">
                                                    {{ form.department }}
                                                    <label class="form-check-label" for="id_department">Это отдел</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <!-- Тип библиотеки -->
                                    <fieldset class="mb-4 p-3 border rounded">
                                        <legend class="w-auto px-2 text-primary text-uppercase">Тип библиотеки</legend>
                                        <div class="row g-3">
                                            <div class="col-md-2">
                                                <div class="form-check checkbox checkbox-secondary mb-0">
                                                    {{ form.adult }}
                                                    <label class="form-check-label" for="id_adult">Взрослая</label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="orm-check checkbox checkbox-secondary mb-0">
                                                    {{ form.child }}
                                                    <label class="form-check-label" for="id_child">Детская</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-check checkbox checkbox-secondary mb-0">
                                                    {{ form.child_young }}
                                                    <label class="form-check-label" for="id_child_young">Детско-Юношеская</label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-check checkbox checkbox-secondary mb-0">
                                                    {{ form.village }}
                                                    <label class="form-check-label" for="id_village">Сельская</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-check checkbox checkbox-secondary mb-0">
                                                    {{ form.mod_lib }}
                                                    <label class="form-check-label" for="id_mod_lib">Модельная</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title text-uppercase">Материально-техническая база</h4>
                                        </div>
                                        <div class="card-body">
                                            <fieldset class="mb-4 p-3 border rounded">
                                                <legend class="w-auto px-2 text-primary text-uppercase">Объекты культурного наследия</legend>

                                                <!-- Объекты культурного наследия -->
                                                <div class="row mb-3 g-3">
                                                    <div class="col-md-3">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.object_federal_importance }}
                                                            <label class="form-check-label" for="id_object_federal_importance">Федерального значения</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.object_regional_importance }}
                                                            <label class="form-check-label" for="id_object_regional_importance">Регионального значения</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="mb-4 p-3 border rounded">
                                                <legend class="w-auto px-2 text-primary text-uppercase">Доступность для лиц с ограниченными возможностями</legend>
                                                <!-- Доступность для лиц с ограниченными возможностями -->
                                                <div class="row mb-3 g-3">
                                                    <div class="col-md-4">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.room_for_vision_disabled }}
                                                            <label class="form-check-label" for="id_room_for_vision_disabled">С нарушением зрения</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.room_for_hearing_disabled }}
                                                            <label class="form-check-label" for="id_room_for_hearing_disabled">С нарушением слуха</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.room_for_musculoskeletal_system_disabled }}
                                                            <label class="form-check-label" for="id_room_for_musculoskeletal_system_disabled">С нарушением ОДА</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="mb-4 p-3 border rounded">
                                                <legend class="w-auto px-2 text-primary text-uppercase">Площадь помещений (м²)</legend>

                                                <!-- Площадь помещений -->
                                                <div class="row mb-3 g-3">
                                                    <div class="col-md-4">
                                                        <label for="id_area_full" class="form-label">Общая площадь</label>
                                                        {{ form.area_full }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="id_area_fund" class="form-label">Для хранения фондов</label>
                                                        {{ form.area_fund }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="id_area_work" class="form-label">Для обслуживания пользователей</label>
                                                        {{ form.area_work }}
                                                    </div>

                                                    <div class="col-md-4">
                                                        <label for="id_area_operation" class="form-label">В оперативном управлении</label>
                                                        {{ form.area_operation }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="id_area_rental" class="form-label">По договору аренды</label>
                                                        {{ form.area_rental }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="id_area_other" class="form-label">Прочее</label>
                                                        {{ form.area_other }}
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="mb-4 p-3 border rounded">
                                                <legend class="w-auto px-2 text-primary text-uppercase">Техническое состояние помещений</legend>

                                                <!-- Техническое состояние помещений -->
                                                <div class="row mb-3 g-3">
                                                    <div class="col-md-4">
                                                        <label for="id_area_repair" class="form-label">Требует капитального ремонта</label>
                                                        {{ form.area_repair }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="id_area_emergency" class="form-label">Аварийное</label>
                                                        {{ form.area_emergency }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="id_out_of_station_service_points" class="form-label">Пункты вне стационара</label>
                                                        {{ form.out_of_station_service_points }}
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="mb-4 p-3 border rounded">
                                                <legend class="w-auto px-2 text-primary text-uppercase">Посадочные места</legend>

                                                <!-- Посадочные места -->
                                                <div class="row mb-3 g-3">
                                                    <div class="col-md-4">
                                                        <label for="id_seatings" class="form-label">Всего мест</label>
                                                        {{ form.seatings }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="id_seatings_computer" class="form-label">Компьютеризированных</label>
                                                        {{ form.seatings_computer }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="id_seatings_internet" class="form-label">С выходом в интернет</label>
                                                        {{ form.seatings_internet }}
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="mb-4 p-3 border rounded">
                                                <legend class="w-auto px-2 text-primary text-uppercase">Технологии автоматизации</legend>

                                                <!-- Автоматизированные технологии -->
                                                <div class="row mb-3 g-3">
                                                    <div class="col-md-6">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.autotech_electronic_catalog }}
                                                            <label class="form-check-label" for="id_autotech_electronic_catalog">Электронный каталог</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.autotech_funds_disbursement }}
                                                            <label class="form-check-label" for="id_autotech_funds_disbursement">Учет выдачи фондов</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.autotech_user_access }}
                                                            <label class="form-check-label" for="id_autotech_user_access">Учет доступа посетителей</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.autotech_funds_documents }}
                                                            <label class="form-check-label" for="id_autotech_funds_documents">Учет документов фонда</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.autotech_funds_digitization }}
                                                            <label class="form-check-label" for="id_autotech_funds_digitization">Оцифровка фонда</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="mb-4 p-3 border rounded">
                                                <legend class="w-auto px-2 text-primary text-uppercase">Оборудование и транспорт</legend>

                                                <!-- Оборудование и транспорт -->
                                                <div class="row mb-3 g-3">
                                                    <div class="col-md-4">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.invalids_equipment }}
                                                            <label class="form-check-label" for="id_invalids_equipment">Оборудование для инвалидов</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="id_cars" class="form-label">Всего транспортных средств</label>
                                                        {{ form.cars }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="id_cars_special" class="form-label">Специализированных</label>
                                                        {{ form.cars_special }}
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="mb-4 p-3 border rounded">
                                                <legend class="w-auto px-1 text-primary text-uppercase">Интернет и ресурсы</legend>

                                                <!-- Интернет и ресурсы -->
                                                <div class="row g-3">
                                                    <div class="col-md-3">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.availability_internet }}
                                                            <label class="form-check-label" for="id_availability_internet">Наличие интернета</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.availability_internet_for_users }}
                                                            <label class="form-check-label" for="id_availability_internet_for_users">Интернет для посетителей</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.availability_site }}
                                                            <label class="form-check-label" for="id_availability_site">Собственный сайт</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-check checkbox checkbox-secondary mb-0">
                                                            {{ form.availability_site_for_disabled }}
                                                            <label class="form-check-label" for="id_availability_site_for_disabled">Сайт для слабовидящих</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>


                                    <button class="btn btn-success-gradien" type="submit">Сохранить изменения</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addCafedraModal" tabindex="-1" role="dialog" aria-labelledby="addCafedraModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCafedraModalLabel">Добавить кафедру</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ add_cafedra_form.as_p }}
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scriptcontent %}
    <!-- Plugins JS start-->
    <script src="{% static 'assets/js/tooltip-init.js' %}"></script>

    <!-- Plugins JS Ends-->
{% endblock %}