{% extends "base.html" %} {% load static %}
{% load sass_tags %} {% block content %}
    <div class="page-body">

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}

            <div class="row effective-card height-equal">
                {% for Branch in branches %}
                    <div class="col-sm-6 col-xl-4">
                        <div class="card common-hover">
                            <div class="card-header b-l-primary border-3">
                                <h5>{{ Branch.short_name }}</h5>
                                <span class="text-primary">{{ Branch.full_name }}</span>
                                <span class="text-secondary"><strong>Руководитель:</strong> {{ Branch.manager }} {{ Branch.manager.user.middle_name }}</span>
                                <div class="card-header-right">
                                  <ul class="list-unstyled card-option">
                                    <li><i class="icofont icofont-plus minimize-card"></i></li>
                                  </ul>
                                </div>
                            </div>
                            <div class="card-body" style="display: none;">
                                <ul class="list-group">
                                    <li class="text-secondary"><strong>Почта:</strong> {{ Branch.email }}</li>
                                    <li class="text-primary"><strong>Телефон:</strong> {{ Branch.phone }}</li>
                                </ul>
                                <hr class="mb-2">
                                <a href="{% url 'branch_detail' Branch.pk %}" class="btn btn-primary text-center mt-2">Подробнее</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>

{% endblock %}

{% block scriptcontent %}
    <!-- Plugins JS Ends-->
    <script src="{% static 'assets/js/tooltip-init.js' %}"></script>
    <script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
{% endblock %}