{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load sass_tags %}

{% block css %}
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
    <!-- Plugins css Ends-->
{% endblock %}

{% block content %}
    {% if messages %}
    <div class="alert alert-success d-flex align-items-center" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <div class="page-body">
        <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}
            <div class="row">
                <div class="col-3">
                    <div class="card common-hover">
                        <div class="card-header card-header b-l-primary border-3">
                            <h3 class="card-title text-primary">{{ employee }}</h3>
                        </div>
                        <div class="card-body">
                            <div class="text-center media profile-media">
                                <img src="{{ user.avatar.url }}" class="img-responsive rounded-3 w-100"/>
                                <h5 class="mt-2">{{ employee.branch }}</h5>
                                <span>{{ employee.position }}</span>
                            </div>
                            <hr class="mb-2">
                            <div class="text-center">
                                <a href="{% url 'change_password' %}" class="btn btn-primary btn-lg" type="button">
                                    Сменить пароль
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card">
                        <div class="card-header pb-0 card-no-border">
                            <h3>Персональные данные</h3>

                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ user_form|crispy }}
                                {{ employee_form|crispy }}
                                <button class="btn btn-success-gradien" type="submit">Сохранить изменения</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}

{% block scriptcontent %}
    <!-- Plugins JS start-->
    <script src="{% static 'assets/js/tooltip-init.js' %}"></script>
    <script src="{% static 'assets/js/alert.js' %}"></script>

    <!-- Plugins JS Ends-->
{% endblock %}