{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load sass_tags %}

{% block css %}
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
    <!-- Plugins css Ends-->
{% endblock %}

{% block content %}

    <div class="page-body">
        <div class="container-fluid">
            {% include "layout/breadcrumb.html" %}
            <div class="row">
                <div class="col-3">
                    <div class="card common-hover">
                        <div class="card-header card-header b-l-primary border-3">
                            <h3 class="card-title text-primary">{{ employee }}</h3>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <img src="{{ user.avatar.url }}" class="img-responsive w-100"/>
                                </div>
                                <div class="col-md-8 pl-5">
                                    <h5>{{ employee.branch }}</h5>
                                    <span>{{ employee.position }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Смена пароля</h4>
                        </div>
                        <form method="post">
                            <div class="card-body">
                                {% csrf_token %}
                                {{ password_form|crispy }}

                                {% if messages %}
                                    <div class="alert alert-danger">
                                        {% for message in messages %}
                                            <p>{{ message }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'user_profile' %}" class="btn btn-secondary" type="button">Отмена</a>
                                <button class="btn btn-primary" type="submit">Сменить пароль</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}

{% block scriptcontent %}
    <!-- Plugins JS start-->
    <script src="{% static 'assets/js/tooltip-init.js' %}"></script>
    <!-- Plugins JS Ends-->
{% endblock %}